@{
    ViewBag.Title = "About Samuel Hyde";
}
    <h2>@ViewBag.Title</h2>


<p>Some fun facts about me as an individual include, but are not limited to:</p>

<p>I was homeschooled through highschool.</p>
<p>I spent a summer travelling the west coast shearing Alpacas and Llamas.</p>
<p>I've repaired and operated industrial <b>John Deere</b> Tractors since I was 15.</p>

<p>I'm a driven individual, with a background of many experiences in retail, customer service and state contracting</p>
    
