@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Samuel Hyde <br />
       33 North McKinley Avenue<br />
    <abbr title="Phone">P:</abbr>
    419-606-0771<br />
   sh765515@ohio.edu
</address>

