@{
    ViewBag.Title = "Home Page";
   
}

<div class="jumbotron">
    <h1>How I can help <b>YOU</b></h1>
    <p class="lead">As a Senior majoring in MIS and Marketing, I can help you in many ways. Feel free to look around here to learn a little more about me.</p>

</div>

<div class="row">
    <div class="col-md-8">
        <h2>Education</h2>
        <p>
            Ohio University is a nationally accredited school, with a college of business that rivals Ivy League competition. Business students are trained in
            many fields outside of their major, creating exteremely well rounded graduates.
        </p>
        <p><a class="btn btn-default" href="https://www.ohio.edu/">Ohio University Homepage &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hometown</h2>
        <p>
            I was raised outside of Millersburg Ohio, a bustling village full of Amish and acreas of land for farming. I'm very proud to say that the town has numerous
            small businesses, which I've been heavily involved in since highschool.
        </p>
        <p><a class="btn btn-default" href="https://www.millersburgohio.com/">Take a virtual tour &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Projects</h2>
        <p>In the past year, I've created some fantastic and mind-blowing applications that can be viewed here.</p>
        <p><a class="btn btn-default" href="http://cob.ohio.edu/sh765515/">My portfolio &raquo;</a></p>
        <br />
        <p>Seen here below is my current project, which is a pet service allowing you to schedule a pet grooming appointment.</p>
        <p><img src="https://s3.cfluent.com/cdn-uploads/3524/1497384159-groomer-2-1024x683.jpg"></p>
        @Html.ActionLink("Sign up as a Pet Owner", "Index", "PetOwners")
        @Html.ActionLink("Sign up as a Pet Owner", "Index", "PetOwners", new { @class = "btn btn-primary" })
        <br />
        @Html.ActionLink("Schedule Appointments", "Index", "Appointments")
        <br />
        @Html.ActionLink("View Groomers", "Index", "Groomers")
        <br />


    </div>

</div>